@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ptsans-400.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ptsans-700.woff2') format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

/* page-layout */

html {
  min-height: 100vh;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.page {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.index-main,
.catalog-main {
  flex-grow: 1;
}

/*  */
.button {
  display: inline-block;
  padding: 9px 15px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.button-secondary {
  background-color: #756257;
}

.button-large {
  font-size: 20px;
}

.button-liked {
  background-color: #7DB54F;
}

/* header */
.nav-list {
  list-style: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
}

.nav-list a {
  display: block;
  padding: 17px 20px;
}

/* layout */
.page-header .nav {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

a.logo {
  margin-right: 30px;
}

.user-links {
  display: flex;
  align-items: center;
}

.user-links a {
  display: block;
  min-width: 42px;
}

.user-links a:nth-last-of-type(2) {
  margin-right: 30px;
}

/* styles */
.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.page-header .nav-link {
  color: inherit;
  text-decoration: none;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-phone {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-phone-link {
  color: inherit;
  text-decoration: none;
}

/* main */
/* hero */
.decor {
  margin-bottom: 63px;
}

.hero-descr {
  margin-bottom: 30px;
}

.hero {
  padding-bottom: 80px;
}

/* interested */
.interested {
  padding-top: 91px;
  padding-bottom: 93px;
}
/* catalog */
.catalog-header {
  color: #fff;
  background-color: #83B3D3;
  background-image: url('/img/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
}
.breadcrumbs-link {
  text-decoration: none;
}

.catalog-header {
  padding: 35px 71px 83px;
  margin-bottom: 50px;
}

.catalog-filter-form {
  width: 100%;
  display: flex;
}

.catalog-filter:nth-child(1) {
  margin-right: 67px;
}
.catalog-filter:nth-child(3) {
  margin-left: auto;
  margin-right: 81px;
}

.filter-list {
  list-style: none;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* section */
.section-title {
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-descr {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

/* forms */

.range-input  {
  padding: 14px 19px;
  font-family: inherit;
  font-size: 18px;
  color: #FFF;
  border-radius: 4px;
  border: 2px solid #FFF;
  background-color: transparent;
}

.range-title {
  opacity: 0.3;
}

.reset-btn {
  color: #FFF;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

/* hotels */
.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
}
.catalog-hotels-found {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.catalog-top-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.select {
  margin-left: auto;
  margin-right: 81px;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}
.catalog-hotels-list > li article {
  padding: 20px;
}

.hotel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.hotel > img {
 grid-area: 1 / 1 / 2 / -1;
}

.hotel-title {
  grid-area:  2 / 1 / 3 / -1;
  font-size: 24px;
  font-weight: 700;
  color:  #000;
}

.hotel-descr {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.hotel .button {
  justify-self: end;
}

.hotel .button-secondary {
  justify-self: start;
}

.rating-wrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-rating {
  padding: 10px 33px;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  background: #F2F2F2;
}

.hotel-star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url('/img/star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 17px;
}

/* pagination */
.pagination {
  display: flex;
  flex-direction: column;
}
.pagination .button:first-of-type {
  margin-bottom: 30px;
}
.pagination-nav {
  padding: 30px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
  background-color: #83B3D3;
}

.pagination-link {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;

}

.pagination-item--current {
  background-color: #f2f2f2;
}

.pagination-link--current {
  color: #000;
}

.pagination .button {
  margin: 0 auto;
}

.pagination-nav {
  display: flex;
}

.pagination-select {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.pagination-select-heading {
  margin-right: 68px;
}

/* reasons */
/* layout */
.reasons-list,
.reasons-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sublist-wrapper {
  grid-column: span 3;
}

.reasons-sublist {
  color: #333333;
  background-color: #ffffff;
  /* grid-column: span 3 */
}

.reasons-item {
  min-height: 384px;
  padding: 95px 75px 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:not(.reasons-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-item-large {
  grid-column: span 3;
  display: flex;
  color: #ffffff;
  background-color: #83B3D3;
}

#reversed-item {
  flex-direction: row-reverse;
}

.reasons-sublist .reasons-item:nth-child(even) {
  background-color: #ffffff;
}


.reasons-sublist .reasons-item-title {
  margin-bottom: 20px;
}

.number {
  margin-bottom: 30px;
}

.reasons-item-title,
.reasons-item-text {
  max-width: 250px;
}


/* interested */
.interested {
  text-align: center;
}

.interested-descr {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 56px;
}

/* newsletter */
.newsletter {
  padding-top: 94px;
  padding-bottom: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-descr {
  margin-bottom: 46px;
}
.index-newsletter > .newsletter-title {
  color: #fff;
}
.index-newsletter {
  color: #fff;
  background-color: #83B3D3;
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.catalog-newsletter {
  padding-top: 42px;
  background: none;
}

.newsletter-input {
  border: none;
  border-radius: 10px 0px 0px 10px;
  background: #F2F2F2;
}

/* footer */
.page-footer {
  padding: 40px 72px 30px;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social-list a {
  display: block;
  width: 20px;
  height: 16px;
  outline: 1px solid blue;
}


/* ================================================================== catalog */

.catalog-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 26px;
}

.breadcrumbs a {
  display: block;
  min-width: 12px;
  min-height: 12px;
  outline: 1px solid tomato;
}

.type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.type-list > li a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #000;
}
